.ui.menu > .item:first-child {
  height: 63px;
  width: 73px;
}
.heading-container {
  margin: 50px;
}

.ui.menu .item > img:not(.ui) {
  display: inline-block;
  vertical-align: middle;
  margin: -0.3em 0;
  width: 4.5em;
}

.heading {
  font-family: "Montserrat", sans-serif;
  font-size: 5vw;
}

.section-header {
  margin-top: 50px;
  margin-bottom: 50px;
  align-content: center;
}
.menu {
  margin-bottom: 100px;
}
